@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  background-color: #f9fafb;
}

/* .nav-item {
  display: block;
  padding: 0.25em 0;
}

.nav-item__active {
  font-weight: bold;
  background-color: aquamarine;
} */

.image-wrapper {
  box-sizing: content-box;
}

/* .image-wrapper > span {. {box-shadow: 0 0 0 8px #f9fafb;} */

.image-wrapper-block > span {
  display: block !important;
  /* overflow: hidden; */
  border-radius: 0.25rem;
}
@media (min-width: 1024px) {
  .image-wrapper-block > span {
    border-radius: calc(0.75rem - 0.5rem);
  }
}
.image-wrapper > span {
  box-shadow: 0 0 0 8px #e5e7eb;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .image-wrapper > span {
    box-shadow: 0 0 0 12px #e5e7eb;
    border-radius: 8px;
  }
}

@media (min-width: 1024px) {
  .image-wrapper > span {
    box-shadow: 0 0 0 16px #e5e7eb;
    border-radius: 12px;
  }
}
